body{
    margin: 0;
}


h1{
    color: palevioletred;
    font-size: 344px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    opacity: 80%;
    transform: rotate(25deg);
    justify-content: center;
    align-items: center;
    margin: -700px 200px 0;
    
}

img{
    width: 1920px;
}