

body{
    position: relative;
    margin: 0;
    width: 100vw;
    height: 56.25vw;
}


h1{

    position: absolute;
    color: palevioletred;
    font-size: 15vw;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    opacity: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-100%) rotate(25deg);
    
}

img{
    width: 100vw;

}